<!DOCTYPE html>
<html ng-app="app">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="jquery-ui.css">
	<script type="text/javascript" src="jquery.js"></script>
	<script type="text/javascript" src="jquery-ui.js"></script>
	<script type="text/javascript" src="bootstrap.js"></script>
	<script type="text/javascript" src="angular.js"></script>
	
</head>
<body ng-controller="appController">

<div class="container">
<div class="row">
	<div class="col-lg-3">
		<ul class="list-group">
			<li class="list-group-item">
				Text Input &nbsp; 
				<a href="javascript: void(0)" ng-click="createElement(textInput);">
					<i class="fa fa-pencil-square-o fa-2x"></i>
				</a>
			</li>
			<li class="list-group-item">
				Text Area &nbsp; 
				<a href="javascript: void(0)" ng-click="createElement(textareaInput);">
					<i class="fa fa-pencil-square-o fa-2x"></i>
				</a>
			</li>
			<li class="list-group-item">
				Select Input &nbsp; 
				<a href="javascript: void(0)" ng-click="createElement(selectInput);">
					<i class="fa fa-pencil-square-o fa-2x"></i>
				</a>
			</li>
			<li class="list-group-item">
				Checkbox Input &nbsp; 
				<a href="javascript: void(0)" ng-click="createElement(checkboxInput);">
					<i class="fa fa-pencil-square-o fa-2x"></i>
				</a>
			</li>
			<li class="list-group-item">
				Radio Group &nbsp; 
				<a href="javascript: void(0)" ng-click="createElement(radioGroup);">
					<i class="fa fa-pencil-square-o fa-2x"></i>
				</a>
			</li>
			<li class="list-group-item text-center">
				<button class="btn btn-primary" type="button" ng-click="saveForm()">Save</button>
			</li>
		</ul>
	</div>
	<div class="col-lg-6">
		<ul class="list-group sortable" id="formItems">
			<li class="list-group-item well well-sm" ng-repeat="input in formElements">
				<div class="text-right">
					<button class="btn btn-default btn-xs" ng-disabled="formElements.length == 1 || $index == 0" ng-click="moveUp($index)">
						<i class="fa fa-arrow-up" aria-hidden="true"></i>
					</button>&nbsp;&nbsp;
					<button class="btn btn-default btn-xs" ng-disabled="formElements.length == 1 || $index == (formElements.length - 1)" ng-click="moveDown($index)">
						<i class="fa fa-arrow-down" aria-hidden="true"></i>
					</button>&nbsp;&nbsp;
					<button class="btn btn-primary btn-xs" ng-click="editInput(input, $index)">
						<i class="fa fa-pencil"></i>
					</button>&nbsp;&nbsp;
					<button class="btn btn-warning btn-xs" ng-click="removeFormElement($index)">
						<i class="fa fa-remove"></i>
					</button>	
				</div>
				
				<custom-input input="input"></custom-input>
			</li>
		</ul>	
	</div>
	<!-- <div class="col-lg-3" ng-class="{'ng-hide': inputTextPropertiesHidden == true}"> -->
	<div class="col-lg-3" ng-if="editInputModel.type == 'text'">
		<h4 class="page-header text-center">Text Input Properties</h4>
		<div class="form-group">
			<label>Label</label>
			<input type="text" class="form-control" ng-model="editInputModel.label">
		</div>
		<div class="form-group">
			<label>Placeholder</label>
			<input type="text" class="form-control" ng-model="editInputModel.placeholder">
		</div>
		<div class="form-group">
			<label>Default Value</label>
			<input type="text" class="form-control" ng-model="editInputModel.value">
		</div>
		<div class="form-group">
			<div class="row">
				<div class="col-lg-6">
					<label>Display Order</label>		
				</div>
				<div class="col-lg-6">
					<select class="form-control" ng-init="editInputModel.displayOrder = formElements[editInputIndex].displayOrder" ng-model="editInputModel.displayOrder">
						<option ng-repeat="input in formElements" value="{{input.displayOrder}}">
							{{input.displayOrder}}
						</option>
					</select>
				</div>
			</div>	
		</div>
		<div class="row">
			<div class="col-lg-6 text-center">
				<button class="btn btn-primary btn-sm btn-block" ng-click="saveInputProperties()">
					Save
				</button>		
			</div>
			<div class="col-lg-6 text-center">
				<button class="btn btn-warning btn-sm btn-block" ng-click="togglePropertiesSection('text')">Hide</button>		
			</div>
		</div>		
	</div>
	<!-- <div class="col-lg-3" ng-class="{'ng-hide': inputTextareaPropertiesHidden == true}"> -->
	<div class="col-lg-3" ng-if="editInputModel.type == 'textarea'">
		<h4 class="page-header text-center">Textarea Input Properties</h4>
		<div class="form-group">
			<label>Label</label>
			<input type="text" class="form-control" ng-model="editInputModel.label">
		</div>
		<div class="form-group">
			<label>Placeholder</label>
			<input type="text" class="form-control" ng-model="editInputModel.placeholder">
		</div>
		<div class="form-group">
			<label>Default Value</label>
			<input type="text" class="form-control" ng-model="editInputModel.value">
		</div>
		<div class="form-group">
			<div class="row">
				<div class="col-lg-6">
					<label>Display Order</label>		
				</div>
				<div class="col-lg-6">
					<select class="form-control" ng-model="editInputModel.displayOrder">
						<option ng-repeat="input in formElements| orderBy:'displayOrder'" value="{{input.displayOrder}}">
							{{input.displayOrder}}
						</option>
					</select>
				</div>
			</div>	
		</div>
		<div class="row">
			<div class="col-lg-6 text-center">
				<button class="btn btn-primary btn-sm btn-block" ng-click="saveInputProperties()">Save</button>		
			</div>
			<div class="col-lg-6 text-center">
				<button class="btn btn-warning btn-sm btn-block" ng-click="togglePropertiesSection('textarea')">Hide</button>		
			</div>
		</div>		
	</div>
	<!-- <div class="col-lg-3" ng-class="{'ng-hide': inputSelectPropertiesHidden == true}"> -->
	<div class="col-lg-3" ng-if="editInputModel.type == 'select'">
		<h4 class="page-header text-center">Select Input Properties</h4>
		<div class="form-group">
			<label>Label</label>
			<input type="text" class="form-control" ng-model="editInputModel.label">
		</div>
		<div class="form-group">
			<label>Default Value</label>
			<select class="form-control" ng-model="editInputModel.value">
				<option value="">--select--</option>
				<option ng-repeat="option in editInputModel.optionValues" value="{{option.value}}">{{option.text}}</option>
			</select>
		</div>
		<div class="form-group">
			<label>
				<span>
					Option Values &nbsp; 
					<button class="btn btn-primary btn-xs" ng-click="addSelectInputOption()">
						<i class="fa fa-plus"></i>
					</button>
				</span>
			</label>
			<div class="row">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Value</th>
							<th>Text</th>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="opt in editInputModel.optionValues">
							<td>
								<input type="text" ng-model="opt.value" class="form-control">
							</td>
							<td>
								<input type="text" ng-model="opt.text" class="form-control">			
							</td>
							<td>
								<button class="btn btn-danger btn-xs" ng-click="removeSelectOption($index)">
									<i class="fa fa-remove"></i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="form-group">
			<div class="row">
				<div class="col-lg-6">
					<label>Display Order</label>		
				</div>
				<div class="col-lg-6">
					<select class="form-control" ng-model="editInputModel.displayOrder">
						<option ng-repeat="input in formElements| orderBy:'displayOrder'" value="{{input.displayOrder}}">
							{{input.displayOrder}}
						</option>
					</select>
				</div>
			</div>			
		</div>
		<div class="row">
			<div class="col-lg-6 text-center">
				<button class="btn btn-primary btn-sm btn-block" ng-click="saveInputProperties()">Save</button>		
			</div>
			<div class="col-lg-6 text-center">
				<button class="btn btn-warning btn-sm btn-block" ng-click="togglePropertiesSection('select')">Hide</button>		
			</div>
		</div>		
	</div>

	<!-- <div class="col-lg-3" ng-class="{'ng-hide': inputCheckboxPropertiesHidden == true}"> -->
	<div class="col-lg-3" ng-if="editInputModel.type == 'checkbox'">
		<h4 class="page-header text-center">Checkbox Properties</h4>
		<div class="form-group">
			<label>Label</label>
			<input type="text" class="form-control" ng-model="editInputModel.label">
		</div>
		<div class="form-group">
			<table class="table table-striped">
				<tbody>
					<tr>
						<th>Checked Value</th>
						<td>
							<input type="text" class="form-control" ng-model="editInputModel.checkedValue">
						</td>
					</tr>
					<tr>
						<th>Unchecked Value</th>
						<td>
							<input type="text" class="form-control" ng-model="editInputModel.uncheckedValue">
						</td>
					</tr>
				</tbody>
			</table>			
		</div>
		<div class="form-group">
			<div class="row">
				<div class="col-lg-6">
					<label>Display Order</label>		
				</div>
				<div class="col-lg-6">
					<select class="form-control" ng-model="editCheckboxInputForm.displayOrder">
						<option ng-repeat="input in formElements| orderBy:'displayOrder'" value="{{input.displayOrder}}">
							{{input.displayOrder}}
						</option>
					</select>
				</div>
			</div>	
		</div>
		<div class="row">
			<div class="col-lg-6 text-center">
				<button class="btn btn-primary btn-sm btn-block" ng-click="saveInputProperties('checkbox')">Save</button>		
			</div>
			<div class="col-lg-6 text-center">
				<button class="btn btn-warning btn-sm btn-block" ng-click="togglePropertiesSection('checkbox')">Hide</button>		
			</div>
		</div>		
	</div>

	<!-- <div class="col-lg-3" ng-class="{'ng-hide': inputRadioPropertiesHidden == true}"> -->
	<div class="col-lg-3" ng-if="editInputModel.type == 'radio'">
		<h4 class="page-header text-center">Radio Button Properties</h4>
		<div class="form-group">
			<label>Label</label>
			<input type="text" class="form-control" ng-model="editInputModel.label">
		</div>
		<div class="form-group">
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>Value</th>
						<th>Label</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="value in editInputModel.values">
						<td>
							<input type="text" ng-model="value.value" class="form-control">
						</td>
						<td>
							<input type="text" ng-model="value.label" class="form-control">
						</td>
						<td>
							<button class="btn btn-danger btn-xs" ng-click="removeRadioOption($index)">
								<i class="fa fa-remove"></i>
							</button>
						</td>
					</tr>
				</tbody>				
			</table>
		</div>
		<div class="form-group">
			<div class="row">
				<div class="col-lg-6">
					<label>Display Order</label>		
				</div>
				<div class="col-lg-6">
					<select class="form-control" ng-model="editInputModel.displayOrder">
						<option ng-repeat="input in formElements| orderBy:'displayOrder'" value="{{input.displayOrder}}">
							{{input.displayOrder}}
						</option>
					</select>
				</div>
			</div>	
		</div>
		<div class="row">
			<div class="col-lg-6 text-center">
				<button class="btn btn-primary btn-sm btn-block" ng-click="saveInputProperties('radio')">Save</button>		
			</div>
			<div class="col-lg-6 text-center">
				<button class="btn btn-warning btn-sm btn-block" ng-click="togglePropertiesSection('radio')">Hide</button>		
			</div>
		</div>		
	</div>
</div>
</div>
<script type="text/javascript" src="js/templateCreationModule.js"></script>
<script type="text/javascript" src="js/directives.js"></script>
</body>
</html>