<!DOCTYPE html>
<html ng-app="app">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/lib/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/lib/font-awesome.css">
	<script type="text/javascript" src="/js/lib/jquery.js"></script>
	<script type="text/javascript" src="/js/lib/bootstrap.js"></script>
	<script type="text/javascript" src="/js/lib/angular.js"></script>
	<script type="text/javascript" src="/js/lib/jscolor.js"></script>
</head>
<body ng-controller="appController">
<div class="container" style="width: 99%;">
	
	<div class="row">
		<div class="col-lg-3">
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingOne">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			          Template Settings
			        </a>
			      </h4>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
			      <div class="panel-body">
			        <div class="form-group">
						<label>Add Title</label>
						<input type="text" class="form-control" ng-model="template.title.text">
					</div>
					<div class="form-group">
						<label class="radio-inline">
							<input type="radio" ng-model="template.title.align" value="left" name="align">Left
						</label>
						<label class="radio-inline">
							<input type="radio" ng-model="template.title.align" value="center" name="align">Center
						</label>
						<label class="radio-inline">
							<input type="radio" ng-model="template.title.align" value="right" name="align">Right
						</label>
					</div>
					<div class="form-group">
						<label>Background Color</label>
						<input type="text" class="jscolor {hash:true}" id="jscolor" ng-model="template.backgroundColor">
					</div>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingTwo">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			          Create Section
			        </a>
			      </h4>
			    </div>
			    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
			      <div class="panel-body">
			      	<div class="form-group">
			      		<label>Section Name</label>
			      		<input type="text" ng-model="section.name" class="form-control">
			      	</div>
			        <div class="form-group">
						<label>Select View Mode</label>
						<select class="form-control" ng-model="section.viewMode">
							<option value="">-- Select View Mode --</option>
							<option value="100">Single Column View</option>
							<option value="101">Double Column View</option>
							<option value="103">Double Column View</option>
						</select>			
					</div>	
					<div class="form-group">
						<label>Add Heading</label>
						<input type="text" ng-model="section.heading.text" class="form-control">
					</div>
					<div class="form-group">
						<label>Background Color</label>
						<input type="text" class="jscolor {hash:true}" id="jscolor" ng-model="section.backgroundColor">
					</div>
					<div class="form-group">
						<label class="radio-inline"><input type="radio" ng-model="section.heading.align" value="left">Left</label>
						<label class="radio-inline"><input type="radio" ng-model="section.heading.align" value="center">Center</label>
						<label class="radio-inline"><input type="radio" ng-model="section.heading.align" value="right">Right</label>
					</div>
					<button class="btn btn-primary btn-sm" ng-click="addSection()">Add Section</button>	
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			          Add Inputs
			        </a>
			      </h4>
			    </div>
			    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			      	<div class="text-center" ng-if="template.sections.length == 0">
		      			No Sections added yet..
		      		</div>
			        <div class="form-group" ng-if="template.sections.length > 0">
			        	<label>Select Section</label>
		      			<select class="form-control" ng-model="model.selectedSection">
		      				<option ng-repeat="option in template.sections" value="{{$index}}">{{option.name}}</option>
		      			</select>
			        </div>
			        <ul class="list-group" ng-if="model.selectedSection != undefined">
						<li class="list-group-item">
							Text Input &nbsp; 
							<a href="javascript: void(0)" ng-click="createElement(textInput);">
								<i class="fa fa-pencil-square-o fa-lg"></i>
							</a>
						</li>
						<li class="list-group-item">
							Text Area &nbsp; 
							<a href="javascript: void(0)" ng-click="createElement(textareaInput);">
								<i class="fa fa-pencil-square-o fa-lg"></i>
							</a>
						</li>
						<li class="list-group-item">
							Select Input &nbsp; 
							<a href="javascript: void(0)" ng-click="createElement(selectInput);">
								<i class="fa fa-list-ol fa-lg"></i>
							</a>
						</li>
						<li class="list-group-item">
							Checkbox Input &nbsp; 
							<a href="javascript: void(0)" ng-click="createElement(checkboxInput);">
								<i class="fa fa-check-square fa-lg" aria-hidden="true"></i>

							</a>
						</li>
						<li class="list-group-item">
							Radio Group &nbsp; 
							<a href="javascript: void(0)" ng-click="createElement(radioGroup);">
								<i class="fa fa-circle-o fa-lg"></i>
							</a>
						</li>
					</ul>
			      </div>
			    </div>
			  </div>
			</div>
		</div>

		<!-- ############################### -->
		<!-- ######## START Preview ######## -->
		<div class="col-lg-6" style="background-color: {{template.backgroundColor}};">
			<h1 ng-if="template.title.text != undefined && template.title.text != ''" class="page-header text-{{template.title.align}}">{{template.title.text}}</h1>
			<div class="row" ng-repeat="section in template.sections" style="background-color: {{section.backgroundColor}}; margin: 8px; padding: 8px;">
				<div class="col-lg-12">
					<h3 class="page-header text-{{section.heading.align}}" ng-if="section.heading.text != '' && section.heading.text != undefined">
						{{section.heading.text}}
					</h3>
					<div class="form-group" ng-repeat="input in section.formElements">
						<custom-input input="input"></custom-input>
					</div>
				</div>
			</div>
		</div>
		<!-- ######## END Preview ######## -->
		<!-- ############################# -->
			
		<div class="col-lg-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">Edit Section</h4>
				</div>
		      	<div class="panel-body">
		      		<div class="panel-group" id="editSectionAccordion" role="tablist" aria-multiselectable="true">
			      		<div class="panel panel-default" ng-repeat="section in template.sections">
			      			<div class="panel-heading">
			      				<a role="button" data-toggle="collapse" data-parent="#editSectionAccordion" href="#section_{{$index}}" aria-expanded="true" aria-controls="collapseOne">
		      						{{section.name}}
			        			</a>			      				
			      			</div>
			      			<div id="section_{{$index}}" class="panel-collapse collapse">
				      			<div class="panel-body">
				      				<div class="form-group">
										<label>Select View Mode</label>
										<select class="form-control" ng-model="section.viewMode">
											<option value="">-- Select View Mode --</option>
											<option value="100">Single Column View</option>
											<option value="101">Double Column View</option>
											<option value="103">Double Column View</option>
										</select>			
									</div>
									<div class="form-group">
										<label>Heading</label>
										<input type="text" ng-model="section.heading.text" class="form-control">
									</div>
									<div class="form-group">
										<label class="radio-inline"><input type="radio" ng-model="section.heading.align" value="left">Left</label>
										<label class="radio-inline"><input type="radio" ng-model="section.heading.align" value="center">Center</label>
										<label class="radio-inline"><input type="radio" ng-model="section.heading.align" value="right">Right</label>
									</div>
									<div class="form-group">
										<label>Background Color</label>
										<input type="text" class="jscolor {hash:true}" id="jscolor" ng-model="section.backgroundColor">
									</div>

									<div ng-repeat="input in section.formElements">
										<div class="pull-right">
											<button class="btn btn-default btn-xs" ng-disabled="template.sections[selectedSection].formElements.length == 1 || $index == 0" ng-click="moveUp($index)">
												<i class="fa fa-arrow-up" aria-hidden="true"></i>
											</button>&nbsp;&nbsp;
											<button class="btn btn-default btn-xs" ng-disabled="template.sections[selectedSection].formElements.length == 1 || $index == (formElements.length - 1)" ng-click="moveDown($index)">
												<i class="fa fa-arrow-down" aria-hidden="true"></i>
											</button>&nbsp;&nbsp;
											<button class="btn btn-primary btn-xs" ng-click="editInput(input, $index)">
												<i class="fa fa-pencil"></i>
											</button>&nbsp;&nbsp;
											<button class="btn btn-warning btn-xs" ng-click="removeFormElement($index)">
												<i class="fa fa-remove"></i>
											</button>	
										</div>
										<custom-input input="input"></custom-input>
									</div>
				      			</div>
			      			</div>
		      			</div>
		      		</div>
		      		<div class="text-center" ng-if="template.sections.length == 0">
		      			No Sections added yet..
		      		</div>
		      		<div class="text-center" ng-if="template.sections[model.selectedSection].formElements.length == 0">
		      			No Inputs added yet..
		      		</div>		      		
		      	</div>
	      	</div>			
		</div>
	</div>

	<div class="row">
		
	</div>
</div>

<script type="text/javascript" src="/js/formCreatorModule.js"></script>
<script type="text/javascript" src="/js/directives.js"></script>
</body>
</html>