<!DOCTYPE html>
<html ng-app="app">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/lib/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/lib/font-awesome.css">
	<script type="text/javascript" src="/js/lib/jquery.js"></script>
	<script type="text/javascript" src="/js/lib/bootstrap.js"></script>
	<script type="text/javascript" src="/js/lib/angular.js"></script>
</head>
<body ng-controller="appController">
<form name="navigation" method="post">	
	<input type="hidden" id="Authorization" name="token" value="<%=  token %>">
</form>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <ul class="nav navbar-nav">
	    <li>
	    	<a href="#" ng-click="goto('createTemplate')">Create Template</a>
	    </li>
    	<li class="active">
			<a href="#" ng-click="goto('myTemplates')">My Templates</a>
		</li>

    </ul>

    <ul class="nav navbar-nav navbar-right">
		<li><a href="#"><span class="fa fa-user"></span> Hello, </a></li>
		<li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
  	</ul>

  </div>
</nav>

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<table class="table table-striped" ng-init="getForms()">
				<thead>
					<tr>
						<th>#</th>
						<th>Title</th>
						<th>View Type</th>
						<th>Field Count</th>
						<!-- <th>ID</th> -->
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="form in forms">
						<td>{{$index + 1}}</td>
						<td>{{form.title}}</td>
						<td>{{form.viewMode}}</td>
						<td>{{form.inputs.length}}</td>
						<!-- <td>{{form._id}}</td> -->
						<td>
							<button class="btn btn-default btn-xs" ng-click="previewForm($index)">
								<i class="fa fa-eye"></i>
							</button>
							<button class="btn btn-primary btn-xs" ng-click="editForm(form._id)">
								<i class="fa fa-pencil"></i>
							</button>
							<button class="btn btn-danger btn-xs" ng-click="deleteForm(form._id, $index)">
								<i class="fa fa-remove"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div id="formPreview" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Preview</h4>
		</div>
		<div class="modal-body">
			<div style="width: 95%; margin: auto;">
	        <div class="row" style="background-color: #{{form.backgroundColor}}">
				<div class="col-lg-12" ng-if="form.viewMode == 'Single Column View'" style="padding: 10px;">

					<h3 class="text-center page-header" ng-if="form.title != undefined && form.title != ''">{{form.title}}</h3>
					<div class="form-group" ng-repeat="input in preview">
						<custom-input input="input"></custom-input>
					</div>  
					
					<button class="btn btn-primary" ng-if="formElements.length !== 0">Submit</button>   
				</div>
				<div class="col-lg-12" ng-if="form.viewMode == 'Double Column View'" style="padding: 10px;">

					<h3 class="text-center page-header" ng-if="form.title != undefined && form.title != ''">{{form.title}}</h3>
					<div class="row" ng-repeat="row in preview">
						<div class="col-lg-12" ng-if="isObject(row)">
							<custom-input input="row"></custom-input>
						</div>
						<div class="col-lg-6" ng-if="isArray(row) && input != undefined" ng-repeat="input in row">
							<div class="form-group" >
								<custom-input input="input"></custom-input>
							</div>  
						</div>
					</div>
					<button class="btn btn-primary" ng-if="formElements.length !== 0">Submit</button>   
				</div>
			</div>
			</div>
	  	</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
    </div>
  </div>
</div>

<script type="text/javascript">
( function(){
	angular.module('app', [])
	.controller('appController', function($scope, $http){

		$scope.isArray = angular.isArray;
		$scope.isObject = angular.isObject;
		
		$scope.forms = [];
		$scope.goto = function(page){
			document.navigation.action = page;
			document.navigation.submit();
		};
		$scope.editForm = function(id){
			document.navigation.action = '/createTemplate';
			$(document.navigation).append($('<input>', { type: 'hidden', id: 'formId', name: 'formId', value: id }));
			document.navigation.submit();
		};
		$scope.deleteForm = function(id, rowIndex){

			if(confirm('Are you sure want to delete?')) {
				$http.delete('/api/deleteTemplate/'+ id,{
		            headers: {
		              'x-access-token': document.navigation.token.value
		            }
	          	}).then(function(res){
	        	 	console.log(res.data);
	        	 	$scope.forms.splice(rowIndex, 1);
	        	 	alert('Form deleted!');
	        	}, function(err){
	        	 	console.log(err);
	        	});
			}
			
		};
		$scope.getForms = function() {
        	$http.get('/api/forms',{
            headers: {
              'x-access-token': document.navigation.token.value
            }
          	}).then(function(res){
        	 	console.log(res.data);
                $scope.forms = res.data;
        	}, function(err){
        	 	console.log(err);
        	});
    	};

    	var sortFormElements = function(form) {
			$scope.preview = [];
			if(form.viewMode == 'Double Column View') {
				var counter = 0;
				var length = form.inputs.length/2;
				for(var i = 0; i < length; i++) {
					$scope.preview[i] = [];
					for(var j = 0; j < 2; j++) {
						if(form.inputs[ counter ] != undefined) {
							if( form.inputs[ counter ].type == 'heading' ) {
								if($scope.preview[i].length == 0) {									
									$scope.preview[i] = angular.copy(form.inputs[ counter++ ]);
									length++;
								} else if($scope.preview[i].length == 1) {
									$scope.preview[i].push(undefined);
									length++;
								}								
								break;	
							} else {
								$scope.preview[ i ].push(angular.copy(form.inputs[ counter++ ]));	
							}
						}

							
					}
				}
			} else {
				$scope.preview = angular.copy(form.inputs);
			}
		};

    	$scope.previewForm = function(formIndex) {
    		$scope.form = angular.copy($scope.forms[formIndex])
    		sortFormElements(angular.copy($scope.forms[formIndex]));
    		$('#formPreview').modal('show');

    		console.log($scope.preview);
    	}
	});
}());
</script>

<script type="text/javascript" src="/js/directives.js"></script>

</body>
</html>