<!DOCTYPE html>
<html ng-app="app">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/lib/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/lib/font-awesome.css">
	<script type="text/javascript" src="/js/lib/jquery.js"></script>
	<script type="text/javascript" src="/js/lib/bootstrap.js"></script>
	<script type="text/javascript" src="/js/lib/angular.js"></script>
</head>
<body ng-controller="appController">
<form name="navigation" method="post">	
	<input type="hidden" id="Authorization" name="token" value="<%=  token %>">
</form>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <ul class="nav navbar-nav">
	    <li>
	    	<a href="#" ng-click="goto('createTemplate')">Create Template</a>
	    </li>
    	<li class="active">
			<a href="#" ng-click="goto('myTemplates')">My Templates</a>
		</li>

    </ul>

    <ul class="nav navbar-nav navbar-right">
		<li><a href="#"><span class="fa fa-user"></span> Hello, </a></li>
		<li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
  	</ul>

  </div>
</nav>

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<table class="table table-striped" ng-init="getForms()">
				<thead>
					<tr>
						<th>#</th>
						<th>Title</th>
						<th>Sections</th>
						<!-- <th>Field Count</th> -->
						<!-- <th>ID</th> -->
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="form in forms">
						<td>{{$index + 1}}</td>
						<td>{{form.title.text}}</td>
						<td>{{form.sections.length}}</td>
						<!-- <td>{{form.inputs.length}}</td> -->
						<!-- <td>{{form._id}}</td> -->
						<td>
							<button class="btn btn-default btn-xs" ng-click="previewForm($index)">
								<i class="fa fa-eye"></i>
							</button>
							<button class="btn btn-primary btn-xs" ng-click="editForm(form._id)">
								<i class="fa fa-pencil"></i>
							</button>
							<button class="btn btn-danger btn-xs" ng-click="deleteForm(form._id, $index)">
								<i class="fa fa-remove"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div id="formPreview" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Preview</h4>
		</div>
		<div class="modal-body">
			
	        	<!-- ############################### -->
				<!-- ######## START Preview ######## -->
				<div style="width: 90%; margin: auto;" style="background-color: {{template.backgroundColor}};">
					
					<h1 ng-if="preview.title.text != undefined && preview.title.text != ''" class="page-header text-{{preview.title.align}}">{{preview.title.text}}</h1>
					<div class="row" ng-repeat="section in preview.sections" style="background-color: {{section.backgroundColor}}; margin: 8px; padding: 8px;">
						<div class="col-lg-12">
							<h3 class="page-header text-{{section.heading.align}}" ng-if="section.heading.text != '' && section.heading.text != undefined">
								{{section.heading.text}}
							</h3>
							<div class="form-group" ng-repeat="input in section.formElements" ng-if="section.viewMode == '101'">
								<custom-input input="input"></custom-input>					
							</div>

							
							<div class="row" ng-repeat="inputArr in section.formElements" ng-if="section.viewMode == '102'">
								<div class="col-lg-6" ng-repeat="input in inputArr">
									<div class="form-group">
										<custom-input input="input"></custom-input>
									</div>		
								</div>
							</div>

							<div class="row" ng-repeat="inputArr in section.formElements" ng-if="section.viewMode == '103'">
								<div class="col-lg-4" ng-repeat="input in inputArr">
									<div class="form-group">
										<custom-input input="input"></custom-input>
									</div>		
								</div>
							</div>

							<div class="row" ng-repeat="inputArr in section.formElements" ng-if="section.viewMode == '104'">
								<div class="col-lg-3" ng-repeat="input in inputArr">
									<div class="form-group">
										<custom-input input="input"></custom-input>
									</div>		
								</div>
							</div>

						</div>
					</div>
					
				</div>
				<!-- ######## END Preview ######## -->
				<!-- ############################# -->
			
	  	</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
    </div>
  </div>
</div>

<script type="text/javascript">
( function(){
	angular.module('app', [])
	.controller('appController', function($scope, $http){

		$scope.isArray = angular.isArray;
		$scope.isObject = angular.isObject;
		
		$scope.forms = [];

		$scope.preview = {};

		$scope.goto = function(page){
			document.navigation.action = page;
			document.navigation.submit();
		};
		$scope.editForm = function(id){
			document.navigation.action = '/createTemplate';
			$(document.navigation).append($('<input>', { type: 'hidden', id: 'formId', name: 'formId', value: id }));
			document.navigation.submit();
		};
		$scope.deleteForm = function(id, rowIndex){

			if(confirm('Are you sure want to delete?')) {
				$http.delete('/api/deleteTemplate/'+ id,{
		            headers: {
		              'x-access-token': document.navigation.token.value
		            }
	          	}).then(function(res){
	        	 	console.log(res.data);
	        	 	$scope.forms.splice(rowIndex, 1);
	        	 	alert('Form deleted!');
	        	}, function(err){
	        	 	console.log(err);
	        	});
			}
			
		};
		$scope.getForms = function() {
        	$http.get('/api/forms',{
            headers: {
              'x-access-token': document.navigation.token.value
            }
          	}).then(function(res){
        	 	console.log(res.data);
                $scope.forms = res.data;
        	}, function(err){
        	 	console.log(err);
        	});
    	};

    	var convertArr = function(formElementArr, n) {
			var counter = 0;
			var length = formElementArr.length/n;
			var newArr = [];
			for(var i = 0; i < length; i++) {
				newArr[i] = [];
				for(var j = 0; j < n; j++) {
					if(formElementArr[ counter ] != undefined) {
						newArr[i].push(formElementArr[counter++]);
					}						
				}
			}
			console.log('Modified array',newArr);
			return newArr;
		};

    	var changeDisplayLayout = function() {
			// $scope.preview = angular.copy($scope.template);
			

			angular.forEach($scope.preview.sections, function(section, index){
				if(section.viewMode == '102') {
					section.formElements = convertArr(angular.copy(section.formElements), 2);
				} else if(section.viewMode == '103') {
					section.formElements = convertArr(angular.copy(section.formElements), 3);
				} else if(section.viewMode == '104') {
					section.formElements = convertArr(angular.copy(section.formElements), 4);
				} 

			});
		};

    	$scope.previewForm = function(formIndex) {
    		$scope.preview = angular.copy($scope.forms[formIndex]);
    		changeDisplayLayout();
    		$('#formPreview').modal('show');

    		console.log($scope.preview);
    	}
	});
}());
</script>

<script type="text/javascript" src="/js/directives.js"></script>

</body>
</html>